@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h4>This application was created by Ayrat Musin for learning purposes</h4>

<h5><a href="https://ru.linkedin.com/in/ayrat-musin-86b544147">LinkedIn</a></h5>
<h5><a href="https://fb.com/ayrat">Facebook</a></h5>
<h5><a href="https://vk.com/ayrat">Vkontakte</a></h5>
