@{
    ViewBag.Title = "List of the Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Users List</h2>
<p>
    <strong>@Html.ActionLink("Create a New User", "New", "Users")</strong>
</p>
<table id="users" class="table table-hover table-striped">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Name
            </th>
            <th>
                Email
            </th>
            <th>
                Role
            </th>
            <th>
                Edit
            </th>
            <th>
                Delete
            </th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function() {
            var table = $("#users").DataTable({
                ajax: {
                    url: "/api/adminapi/",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "id",
                        render: function (data, type, user) {
                            return "<a href='/Users/" + user.id + "'>" + user.id + "</a>";
                        }
                    },
                    {
                        data: "name"
                    },
                    {
                        data: "email"
                    },
                    {
                        data: "role"
                    },
                    {
                        data: "id",
                        render: function (data, type, user) {
                            return "<a href='/Users/edit/" + user.id + "'>Edit</a>";
                        }
                    },
                    {
                        data: "id",
                        render: function(data) {
                            return "<button class='btn-link js-delete' data-user-id=" + data + ">Delete</button>";
                        }
                    }
                ]
            });
            $("#users").on("click",
                ".js-delete",
                function() {
                    var button = $(this);
                    bootbox.confirm("Are you sure that you want to delete the customer?",
                        function(result) {
                            if (result) {
                                $.ajax({
                                    url: "/api/adminapi/" + button.attr("data-user-id"),
                                    method: "DELETE",
                                    success: function () {
                                        table.row(button.parents("tr")).remove().draw();
                                    }
                                });
                            }
                        });
                });
        })
    </script>

}