@model ToDoList.Web.ViewModels.AllUsersViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
@foreach (var user in Model.UserDtos)
{
    @:<br />Email: 
    @user.Email
    @:<br />Role: 
    @user.Role
    @:<br />UserName: 
    @user.UserName
    @:<br/>
}
