@model ToDoList.Models.DTO.UserAndRoleDTO
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Task Information</h2>
<table class="table table-hover table-striped">
    <thead>
    <tr>
        <th>
            Id
        </th>
        <th>
            Name
        </th>
        <th>
            Email
        </th>
        <th>
            Role
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            @Model.Id
        </td>
        <td>
            @Model.Name
        </td>
        <td>
            @Model.Email
        </td>
        <th>
            @Model.Role
        </th>
    </tr>
    </tbody>
</table>

